doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title Triangle Template
		meta(name="viewport", content="width=device-widt,initial-scale=1.0")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet")
		link(rel="stylesheet", href="css/style.css")
	body
		.container.right-align
			a
				i.material-icons.grai local_parking
			a
				i.material-icons.grai account_circle
			a
				i.material-icons.grai brightness_5
			a
				i.material-icons.grai camera_alt
			a
				i.material-icons.grai local_parking
		nav
			.container
				a(href="#").brand-logo.left
					img.logo.valign-wrapper(src="img/logo.png")
				ul(#nav-mobile).right.hide-on-med-and-down
					li
						a.menu.material-icons(href="home.html") HOME arrow_drop_down
					li
						a.menu.material-icons(href="pages.html") PAGES arrow_drop_down
					li
						a.menu.material-icons(href="blog.html") BLOG arrow_drop_down
					li
						a.menu.material-icons(href="portfolio.html") PORTFOLIO arrow_drop_down
					li
						a.menu.material-icons(href="shortcodes.html") SHORTCODES arrow_drop_down
					li
						a
							i.menu.material-icons search
		block main
		.container-fluid
			img(src="img/home/under.png")
		.container-fluid
			img.escalar_img(src="img/home/footer.png")
		.footer.container.footi
			.row
				.col.s3
					div
						img(src="img/home/profile1.png")
					div
						img(src="img/home/profile2.png")
				.col.s3
					h5 Testimonial
					p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
					h6 Jhon Kalis
					p "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."
					h6 Abraham Josef
				.col.s3
					h5 Contacts
					p E-mail: email@email.com Phone: +1(123)456 7891   Fax: +1(123)456 7890
					h5 Address
					p Unit C2,St.Vicent's Trading Est, Feeder Road, Bristol, BS2 0UY
					p United Kingdom
				.col.s3
					h5 Send a message
					input(type="text", placeholder="Name")
					input(type="text", placeholder="Email Id")
					textarea(type="text", placeholder="Your text here")
					button.btn2 SUBMIT
	script(src="https://code.jquery.com/jquery-3.2.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")
	script(type="text/x-handlebars-template")#planes