body{
	font-family: 'Raleway', sans-serif;
}
nav{
	background-color: white;
	height: 90px;
	padding-top: 1%;

}
.menu{
	color: black;
	font-size: 15px;
}
.menu:hover{
color: #00aeef;
}
.logo{
	width: 75%;
}
.grai{
	color:#d3d3d3;
}
.grai:hover{
color: #00aeef;
}
.elementos{
padding:5%;
padding-right: 42%;
margin-top: -18%;
position: relative;
}
.moto{
padding:5%;
padding-left: 60%;
margin-top: -22%;
position: relative;
}
.btn{
margin-left: 48%;
margin-top: -22%;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border: 1px inset #0099ae;
}
.btn2{
width: 110px;
background-color: #0099ae;
color: white;
margin-left: 28%;
margin-top: 5%;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border: 1px inset #0099ae;
}
.escalar_img{
	width: 99%;
}
.escalar_blok{
	width: 97%;
	height: 97%;
	margin-left: 1%;
}
.margin_img{
	margin-left: 35%;
}
.container{
	.row{
		.col.s6{
			p{
				padding-top: 23%;
			}
		}

	}
}
/*Footer*/
.footi{
	margin-top: -40%;
	position: relative;
}
/*Dos*/
.color_titulo-1{
	height: 35px;
	background-color: #0d6fb1;
	color: white;
	margin-right: 2px;
	margin-left: -20px;
	margin-top: -20px;
}
.color_titulo-2{
	height: 35px;
	background-color: #ac2429;
	color: white;
	margin-right: 2px;
	margin-top: -20px;
}
.color_titulo-3{
	height: 35px;
	background-color: #e78817;
	color: white;
	margin-right: 2px;
	margin-top: -20px;
}
.color_titulo-4{
	height: 35px;
	background-color: #5f7452;
	color: white;
	margin-right: 2px;
	margin-top: -20px;
}

.triangulo-1 {
	position: relative;
	margin-left: 6%;
	margin-top: -9%;
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-top: 100px solid #0d6fb1;
	border-left: 100px solid transparent;
	border-bottom: 100px solid transparent;
}
.triangulo-2 {
	position: relative;
	margin-left: 6%;
	margin-top: -9%;
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-top: 100px solid #ac2429;
	border-left: 100px solid transparent;
	border-bottom: 100px solid transparent;
}
.triangulo-3 {
	position: relative;
	margin-left: 6%;
	margin-top: -9%;
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-top: 100px solid #e78817;
	border-left: 100px solid transparent;
	border-bottom: 100px solid transparent;
}
.triangulo-4 {
	position: relative;
	margin-left: 6%;
	margin-top: -9%;
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-top: 100px solid #5f7452;
	border-left: 100px solid transparent;
	border-bottom: 100px solid transparent;
}
//Sección paquetes
.triangulosup-1 {
	position: relative;

	margin-top: -9%;
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-top: 100px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: 100px solid #0d6fb1;
}
.triangulosup-2 {
	position: relative;

	margin-top: -9%;
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-top: 100px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: 100px solid  #ac2429;
}
.triangulosup-3 {
	position: relative;
	margin-top: -9%;

	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-top: 100px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: 100px solid #e78817;
}
.triangulosup-4 {
	position: relative;

	margin-top: -9%;
	width: 0;
	height: 0;
	border-right: 100px solid transparent;
	border-top: 100px solid transparent;
	border-left: 100px solid transparent;
	border-bottom: 100px solid #5f7452;
}
.right{
	margin-right: 50px;
	padding-left: 12px;
}
.align{
	position: relative;
	color: white;
	margin-top: -86px;
	margin-left:-32px;
}
.align2{
	color: white;
	margin-top: -80px;
	margin-left:-12px;
}
.inline{
	display: inline-block;
	margin-left: 13%;
}
.margn{
	margin-top: -90px;
}
//Página tres
.separate{
	color:black;
	margin-right: 17px;
	font-size: 17px;
}
.separate:hover{
	color:red;
}
.scale{
	width: 93%;
	height: 93%;
}
.size{
	display: inline-block;
	width: 6%;
	height: 6%;
	margin-top: 6px;
}
.mntn{
	margin-top: -273px;
	margin-right: 80px;
	float: right;
	width: 32%;
}
.alinear{
	position: relative;
	margin-top: 130px;
}
.mrgn-lft{
	margin-left: -80px;
}
