extend templates/layout
block append main
	mixin fluid(titulo,parrafo)
		.container-fluid
			img.escalar_img(src="img/coming-soon-bg.png")
			div.elementos
				h4 #{titulo}
				p #{parrafo}
	+fluid("Blog","Blog with left sidebar")
	.container
		.row
			.col.s3
				img.scale(src="img/blog/masonary/1.jpg")
			.col.s3
				img.scale(src="img/blog/masonary/3.jpg")
			.col.s3
				img.scale(src="img/blog/masonary/6.jpg")
			.col.s3
				img.scale(src="img/blog/masonary/8.jpg")
		.row
			h1 Sitio en construcción ...