doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		title Handlebars practica
		meta(name="viewport", content="width=device-widt,initial-scale=1.0")
		link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css")
		link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
		link(rel="stylesheet", href="main.css")
	body
		h1.green-text "prueba :)"
	script(src="https://code.jquery.com/jquery-3.2.1.min.js")
	script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js")